section#tab-content-shop-641.tab-content-shop(itemscope='', itemtype='http://schema.org/Organization')
    .alert.alert-block.shop-inactive-remark(style='display: none;')
        b Toko tidak aktif selama lebih dari 7 hari
        p
            | Untuk kenyamanan bertransaksi, kami menyarankan pembeli untuk memastikan terlebih dahulu toko yang dipilih dalam keadaan aktif. Info status keaktifan ini dapat diakses di halaman masing-masing toko.
    span#MessageApp.ng-scope(ng-app='MessageApp', ng-controller='MessageController', receiver-name="andrew's shop", receiver-id='641', user-id='0')
        .row-fluid.shop-header
            .shop-official.relative.clearfix
                .shop-official__cover
                    a.pull-left(href='http://new.mf-fadil.ndvl/penjual')
                        source(type='image/webp', srcset='http://devel-go.tkpd:3001/img/1920/shops-1/2016/10/28/1032/1032_36320ba1-ff2f-4565-83e4-dce1220810cb.jpg.webp')
                        picture
                            img#shop-cover.photo(src='http://devel-go.tkpd:3001/img/1920/shops-1/2016/10/28/1032/1032_36320ba1-ff2f-4565-83e4-dce1220810cb.jpg', alt="andrew's shop")
                .shop-official_container
                    .container
                        .span7.relative
                            .shop-official__logo(style='width: 120px; height: 120px;')
                                img(src='http://devel-go.tkpd:3001/img/215-square/shops-1/2017/5/30/641/641_dc17b834-65b9-4d3c-99df-b9923fda9b35.jpg', alt="andrew's shop")
                            .shop-official__name.pt-20.clearfix(style='margin-left: 135px;')
                                h1.mb-0.pull-left andrew's shop
                                .icon.pull-left.mt-10.ml-10
                                    a.cursor-default.official-shop-badge(data-original-title='', title='')
                                        i.image-official-badge.cursor-default.inline-block.va-middle(title='', data-original-title='Official Store')
                            .shop-official__slogan.row-fluid(style='margin-left: 135px; margin-bottom: 10px;') Aqua
                            .row-fluid.shop-official__share.mb-10(style='margin-left: 135px;')
                                input#twitter-hash-tags(type='hidden', name='twitter_hash_tags', value=',Tokopedia')
                                .product-socialholder__label.pull-left.pt-10.pb-10.mr-10 Bagikan :
                                #b-share.product-socialholder__button.official-shop-sharePage.jssocials
                                    .jssocials-shares
                                        .jssocials-share.jssocials-share-facebook
                                            a.jssocials-share-link(target='_blank', onclick="window.open('https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnew.aa-alam.ndvl%2Fpenjual%3Futm_campaign%3Dandrews%2520shop%26utm_medium%3Dshare_button%26utm_source%3Dfacebook','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');")
                                                i.icon-facebook.white.jssocials-share-logo
                                        .jssocials-share.jssocials-share-twitter
                                            a.jssocials-share-link(target='_blank', onclick="window.open('https://twitter.com/share?url=http%3A%2F%2Fnew.aa-alam.ndvl%2Fpenjual%3Futm_campaign%3Dandrews%2520shop%26utm_medium%3Dshare_button%26utm_source%3Dtwitter&text=andrew's%20shop%20-%20Pamulang%20%7C%20Tokopedia&via=Tokopedia&hashtags=%2CTokopedia','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');")
                                                i.icon-twitter.white.jssocials-share-logo
                                        .jssocials-share.jssocials-share-googleplus
                                            a.jssocials-share-link(target='_blank', onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fnew.aa-alam.ndvl%2Fpenjual%3Futm_campaign%3Dandrews%2520shop%26utm_medium%3Dshare_button%26utm_source%3Dgoogleplus','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');")
                                                i.icon-google-plus.white.jssocials-share-logo
                                        .jssocials-share.jssocials-share-blogger
                                            a.jssocials-share-link(target='_blank', onclick="window.open('http://blogger.com/blog-this.g?n=andrews%20shop%20-%20Pamulang%20%7C%20Tokopedia&t=Belanja%20online%20aman%20dan%20nyaman%20dari%20andrews%20shop%20-%20aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa&u=http%3A%2F%2Fnew.aa-alam.ndvl%2Fpenjual%3Futm_campaign%3Dandrew's%2520shop%26utm_medium%3Dshare_button%26utm_source%3Dblogger','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no, scrollbars=yes, resizable=yes, width=800, height=600');")
                                                i.icon-blogger.white.jssocials-share-logo
                                        .jssocials-share.jssocials-share-copy
                                            a.jssocials-share-link(target='_blank')
                                                i.icon-link.white.jssocials-share-logo
                        .span5
                            .row-fluid
                                .shop-official__stat
                                    #shop-official-stat__info.shop-official__rating.mt-0
                                        ul.inline
                                            li
                                                span#shop-speed.shop-speed.icon-tooltip(data-toggle='tooltip', data-original-title='Belum Tersedia (1 bulan terakhir)')
                                                    span.speed-badge
                                                        i.badge-speed-null
                                                    .text-center
                                                        span.gray.fs-12.font-default Kecepatan Toko
                                            li.favorite-wrapper
                                                a
                                                    .text-center.mb-3
                                                        i.icon-heart-alt.va-texttop.mr-5
                                                        span#favorit-shop.text-big.shop-faved-total
                                                            b#favorit-shop.shop-faved-total 26
                                                    .text-center
                                                        span.gray.fs-12 Favorit
                    .shop-official__action
                        .container
                            .row-fluid
                                .span6
                                    ul.official-shop-tab
                                        li.active
                                            a(href='http://new.mf-fadil.ndvl/penjual') Produk
                                        li
                                            a(href='http://new.mf-fadil.ndvl/penjual/talk') Diskusi Produk
                                        li
                                            a(href='http://new.mf-fadil.ndvl/penjual/review') Ulasan
                                        li
                                            a(href='http://new.mf-fadil.ndvl/penjual/info')
                                                i.icon-info-sign.icon-large
                                                |  Informasi Toko
                                .span6
                                    .pull-right
                                        .pull-left.ml-15
                                            button#s_send_pm.btn.btn-second.button.pull-right(data-ng-click="clickToOpen('shop')", type='button')
                                                i.icon-message-alt
                                                |   Kirim Pesan
                                        #fave_shop_official.pull-left.ml-15
                                            #fave_this_shop
                                                button#s_fave_this_shop.btn.btn-action.btn-fav-alt.fw-300.w-120(type='button')
                                                    span.va_top +
                                                    |   Favoritkan
                                            #already_fave(style='display:none;')
                                                button#berhenti.official-fav-btn-fill(type='button', style='display:none;')
                                                    i.icon-remove
                                                    |   Berhenti Favorit
                                                button#favoritku.btn.btn-action.btn-fav-alt.fw-300.w-120.btn-second(type='button')
                                                    i.icon-checked
                                                    |   Favorit
    input#token(type='hidden', name='token', value='')
    input#tlogin-url(type='hidden', name='tlogin_url', value='http://accounts.aa-alam.ndvl/login?theme=default')
    input#shop-id(type='hidden', name='shop_id', value='641')
    input#shop_name(type='hidden', name='shop_name', value="andrew's shop")
    input#prosecure_badge(type='hidden', name='prosecure_badge', value='https://products-staging.tokopedia.com/v1/prosecure/badge')
    input#is-official(type='hidden', name='is-official', value='1')
    .official-container-full.bg-grey.pt-20.pb-50
        
// ===== EOF_ Shop =====
.absolute.status-shop-overlay.shop-overload-inactive.white(style='display: none;')
    .status-shop-overlay-content
        .text-center.fs-13
            | Status Toko : 
            br
            span.bold.uppercase.fs-20 Tidak Aktif